<template>
  <div>
    <h1>Permissions List</h1>
    
    <b-button 
      @click="$router.push({ path: createPath })"
      variant="outline-success">
      Create New Permission
    </b-button>

    <b-table
      striped
      hover
      :items="$store.getters.permissions"
      :fields="titles">
      <template #cell(actions)="data">
        <b-button 
          @click="$router.push({ path: buildEditPermissionUrl(data.item.id) })"
          variant="outline-primary">
          Edit
        </b-button>
        <b-button 
          @click="showConfirmationDeleteModal(data.item.id)"
          variant="outline-danger">
          Delete
        </b-button>
      </template>
    </b-table>

    <b-modal
      v-model="isShowingConfirmationDeleteModal"
      @ok="deleteConfirmationHandler">
      <template #modal-title>
        Delete Confirmation
      </template>
      <div class="d-block text-center">
        <p>Are you sure?</p>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { PERMISSIONS_CREATE, PERMISSIONS_EDIT } from '@/router/paths'
import { REMOVE_PERMISSION } from '@/store/actions'

export default {
  name: 'Home',

  data: () => ({
    createPath: PERMISSIONS_CREATE,
    deletablePermissionId: null,
    isShowingConfirmationDeleteModal: false,
    titles: [
      {
        key: 'name',
        sortable: true
      },
      {
        key: 'surname',
        sortable: true
      },
      {
        key: 'requestDate',
        sortable: true
      },
      {
        key: 'actions',
        sortable: false
      },
    ]
  }),

  methods: {
    buildEditPermissionUrl(id) {
      return PERMISSIONS_EDIT.replace(':id', id)
    },
    showConfirmationDeleteModal(id) {
      this.deletablePermissionId = id
      this.isShowingConfirmationDeleteModal = true
    },
    deleteConfirmationHandler() {
      this.isShowingConfirmationDeleteModal = false
      this.$store.dispatch(REMOVE_PERMISSION, this.deletablePermissionId)
    }
  }
}
</script>

<style scoped>
</style>
