<template>
  <div>
    <h1>Create New Permission</h1>

    <PermissionForm
      @submit="submitPermissionFormHandler"
      @cancel="cancelPermissionFormHandler"
      @error="errorPermissionFormHandler"/>
  </div>
</template>

<script>
import PermissionForm from '@/components/PermissionForm.vue'
import { CREATE_PERMISSION } from '@/store/actions'

export default {
  name: 'Create',

  components: {
    PermissionForm
  },

  methods: {
    async submitPermissionFormHandler(payload) {
      await this.$store.dispatch(CREATE_PERMISSION, payload)
      this.$router.go(-1)
    },
    cancelPermissionFormHandler() {
      this.$router.go(-1)
    },
    errorPermissionFormHandler() {
      console.error('Error in Permission Creation')
    },
  }
}
</script>

<style scoped>
</style>
