<template>
  <div>
    <h1>Edit Permission</h1>

    <PermissionForm
      :form-data="permissionEditable"
      @submit="submitPermissionFormHandler"
      @cancel="cancelPermissionFormHandler"
      @error="errorPermissionFormHandler"/>
  </div>
</template>

<script>
import PermissionForm from '@/components/PermissionForm.vue'
import { EDIT_PERMISSION } from '@/store/actions'

export default {
  name: 'Edit',

  components: {
    PermissionForm
  },

  computed: {
    permissionEditable() {
      let permissionEditable = this.$store.getters.permissions
        .find(permission => permission.id == this.$route.params.id)

      return {...permissionEditable}
    }
  },

  methods: {
    async submitPermissionFormHandler(payload) {
      await this.$store.dispatch(EDIT_PERMISSION, payload)
      this.$router.go(-1)
    },
    cancelPermissionFormHandler() {
      this.$router.go(-1)
    },
    errorPermissionFormHandler() {
      console.error('Error in Permission Edition')
    },
  },
}
</script>

<style scoped>
</style>
