<template>
  <div id="app">
    <Spinner v-if="$store.getters.isLoading"/>
    <b-container v-else>
      <router-view/>
    </b-container>
    <b-modal
      v-model="showError"
      @ok="closeErrorModal">
      <template #modal-title>
        An Error Ocurred
      </template>
      <div class="d-block">
        <p>Please, verify your data and try again.</p>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Spinner from '@/components/Spinner.vue'
import { LOAD_PERMISSIONS, LOAD_PERMISSION_TYPES } from '@/store/actions'
import { STOP_ERROR } from '@/store/mutations'

export default {
  name: 'App',

  data: () => ({
    showError: false
  }),

  components: {
    Spinner
  },

  methods: {
    closeErrorModal() {
      this.$store.commit(STOP_ERROR)
    },
  },

  beforeCreate() {
    this.$store.dispatch(LOAD_PERMISSIONS)
    this.$store.dispatch(LOAD_PERMISSION_TYPES)
  },

  watch: {
    '$store.getters.hasError': function(newVal) {
      this.showError = newVal
    }
  }
}
</script>

<style>
  #app {
    margin-top: 30px;
  }
</style>
