<template>
    <b-form @submit="submitHandler" @reset="resetHandler">

      <b-form-group label="Name" label-for="name">
        <b-form-input
          id="name"
          v-model="permissionData.name"
          placeholder="Your name">
        </b-form-input>
        <b-form-invalid-feedback :state="nameIsValid">
          The Name is required!
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group label="Surname" label-for="surname">
        <b-form-input
          id="surname"
          v-model="permissionData.surname"
          placeholder="Your surname">
        </b-form-input>
        <b-form-invalid-feedback :state="surnameIsValid">
          The Surename is required!
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group label="Permission Type" label-for="permission-type">
        <b-form-select
          id="permission-type"
          v-model="permissionData.permissionTypeId"
          :options="typeOptions">
          <template #first>
            <b-form-select-option :value="null" disabled>Please select an option</b-form-select-option>
          </template>
        </b-form-select>
        <b-form-invalid-feedback :state="typeIsValid">
          The Permission Type is required!
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group label="Choose a Date" label-for="request-date">
        <b-form-datepicker
          :min="minDate"
          id="request-date"
          v-model="permissionData.requestDate">
        </b-form-datepicker>
        <b-form-invalid-feedback :state="dateIsValid">
          A Request Date is required!
        </b-form-invalid-feedback>
      </b-form-group>

    <b-button type="submit" variant="primary">{{confirmationActionName}}</b-button>
    <b-button type="reset" variant="danger">Cancel</b-button>

  </b-form>
</template>

<script>
import Permission from '@/store/entities/Permission'

const MIN_DATE = new Date()

export default {
  name: 'PermissionForm',

  props: {
    formData: {
      default: () => Permission.empty()
    }
  },

  data: () => ({
    validate: false,
    minDate: MIN_DATE,
    permissionData: null,
  }),

  methods: {
    async submitHandler(event) {
      event.preventDefault()
      this.validate = true

      if (!this.formIsValid) {
        this.$emit('error')
        return
      }

      this.$emit('submit', this.permissionData)
    },

    resetHandler(event) {
      event.preventDefault()
      this.$emit('cancel')
    }
  },

  computed: {
    nameIsValid() {
      return !this.validate || this.permissionData.name.trim().length > 0
    },
    surnameIsValid() {
      return !this.validate || !!this.permissionData.surname.trim().length > 0
    },
    typeIsValid() {
      return !this.validate || !!this.permissionData.permissionTypeId
    },
    dateIsValid() {
      return !this.validate || !!this.permissionData.requestDate
    },
    formIsValid() {
      return this.nameIsValid &&
        this.surnameIsValid &&
        this.typeIsValid &&
        this.dateIsValid
    },
    typeOptions() {
      return this.$store.getters.permissionTypes.map(type => ({
        value: type.id,
        text: type.name
      })) 
    },
    confirmationActionName() {
      return !this.permissionData.id ? 'Create' : 'Edit'
    }
  },

  watch: {
    formData: {
      deep: true,
      immediate: true,
      handler(newValue) {
        this.permissionData = newValue
      }
    }
  }
}
</script>

<style scoped>

</style>
