<template>
  <div class="text-center m-5">
    <b-spinner></b-spinner>
    <b-spinner type="grow"></b-spinner>
    <b-spinner variant="primary"></b-spinner>
    <b-spinner variant="primary" type="grow"></b-spinner>
    <b-spinner variant="success"></b-spinner>
    <b-spinner variant="success" type="grow"></b-spinner>
  </div>
</template>

<script>
export default {
  name: 'Spinner',
}
</script>

<style scoped>

</style>
